{% extends 'base.html.twig' %}

{% block title %} Dades de l'equip {% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/estilsEquip.css') }}">
{% endblock %}

{% block body %}
    <h1 id="titolEquip">Equip no trobat</h1>
    <p class="paragrafEquip">Projecte 2n DAW<br></p>

    <div class="paragrafEquip">
        <img src="{{ asset('Impact/assets/img/triste.jpg') }}" alt="Inici" style="width=50px; height=50px; border-radius:5px;" class="imagenTriste">
    </div>

    <div class="paragrafEquip">
        <a href="{{ path('inici') }}">
            <img src="{{ asset('Impact/assets/img/home-page.png') }}" alt="Inici" style="width=50px; height=50px; border-radius:5px;" class="imagenHome">
        </a>
    </div>
{% endblock %}
